*{
    box-sizing: border-box;
}
body{
    margin:0 auto;
}
h1,
h2,
p {
    text-align: center;
    display: block;
    color: #fff;
}
h2{
    display: block;
    padding-bottom: 40px;
}

.contenedor {
    display: flex;
    padding-top: 50px;
    background-color: #5119a6;
    height: 100vh;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    overflow:auto;
}

.contenedor-imagen {
 flex-basis: 45%;   
}

.contenedor-imagen img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.contenedor-content {
    
    justify-content: center;
    align-self: center;

}

@media screen and (min-width: 900px) {
    .contenedor {
        display: flex;
        padding:0;
        background-color: #5119a6;
        height: 100vh;
        flex-direction: row;
        flex-wrap: unset;
    }

    .contenedor-imagen {
        flex-basis: 45%;
    }

    .contenedor-imagen img {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    .contenedor-content {
        flex-basis: 55%;
        justify-content: center;
        align-self: center;

    }
}

.contenedor-content h1{
    text-transform: uppercase;
    margin:0;
    font-size: 18px;
    letter-spacing: 3px;
    word-spacing: 10px;
    
}
.contenedor-content h2{
    margin:0;
    font-size: 135px;
    font-weight: bold;
    
}
span.active{
    font-size:135px!important;
}
.numeros.active, .contador.active p {  
    color: rgb(64, 133, 189);
}
.contenedor-contador{
    display: flex;
    justify-content: center;
    background: rgba(31, 44, 57, 0.6);
    padding-bottom: 25px;
}
.contador{
    display:flex;
    flex-direction: column-reverse;
    margin: 25px 20px 0 0;
}
.contador p{
    text-transform: uppercase;
    font-size:11px;
}

.numeros{
    color: #ffff;
    margin:0 auto;
    text-align:center;
    font-size: 35px!important;
}
